@using YiJingFramework.Core
@using YiJingFramework.References.Zhouyi;
@using YiJingFramework.References.Zhouyi.Zhuan;
@using System.Diagnostics;
@using BlazorApp.Services;

@inject ZhouyiTextProvider Text

@if (info is null)
{
    @if(badPainting)
    {
        <p>未能解析参数，请检查网址是否正确。</p>
    }
    else
    {
        <p>正在加载中……</p>
    }
}
else
{
    <p>
        @info.JingText <br />
        @info.XiangText <br />
        @info.TuanText <br />
    </p>

    <p>
        @foreach(var line in info.SixLines)
        {
            @line.Jing <br />
            @line.Xiang <br />
        }
        @if(info.ApplyLine is not null)
        {
            @info.ApplyLine.Jing <br />
            @info.ApplyLine.Xiang <br />
        }
    </p>
}

@code {
    private sealed record Line(YinYang YinYang, string Jing, string Xiang);
    private sealed record HexagramInfo(
        string JingText,
        string XiangText,
        string TuanText,
        Line[] SixLines,
        Line? ApplyLine)
    { }

    [Parameter]
    public Painting? Painting { get; set; }

    private HexagramInfo? info;

    private bool badPainting;

    protected override async Task OnInitializedAsync()
    {
        var (jing, xiang, tuan) = await Text.GetAllAsync();

        if(Painting is null || Painting.Count is not 6)
        {
            badPainting = true;
            return;
        }

        var hexagram = jing.GetHexagram(Painting);

        var jingText = $"{hexagram.Name}：{hexagram.Text}";
        var xiangText = $"象曰：{xiang[hexagram]}";
        var tuanText = $"彖曰：{tuan[hexagram]}";

        var lines = (from i in Enumerable.Range(1, 6)
                     let line = hexagram.GetLine(i)
                     select new Line(line.YinYang, line.ToString(), $"象曰：{xiang[line]}"))
                    .ToArray();

        var applyLine = hexagram.ApplyNinesOrApplySixes is null ? null : new Line(
                hexagram.ApplyNinesOrApplySixes.YinYang,
                hexagram.ApplyNinesOrApplySixes.ToString().Trim(),
                $"象曰：{xiang[hexagram.ApplyNinesOrApplySixes]}");

        this.info = new HexagramInfo(jingText, xiangText, tuanText, lines, applyLine);
    }
}
